server:
  port: 8083
  forward-headers-strategy: framework

  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false

logging:
  level:
    ru.calorai: INFO
    org.springframework: INFO
